astor==0.8.1 
bases==0.3.0 
beautifulsoup4==4.10.0 
beautifultable==1.1.0
cryptography==3.4.8
greenlet==1.1.2
gevent==21.8.0
html2text==2025.4.15 
httplib2==0.22.0
libsass==0.20.1
maya==0.6.1
openpyxl==3.1.5 
packaging==21.3 
pandas==2.2.3 
paramiko==3.4.1
pip==25.1.1
pdfkit==1.0.0 
pendulum==3.0.0
pyOpenSSL==19.1.0
PyPDF2==1.26.0 
pypng==0.20220715.0 
PyQRCode==1.2.1 
qrcode==7.3.1
setuptools==52.0.0
signxml==3.2.2 
tabulate==0.9.0 
toml==0.10.2 
tox==3.21.4 
typing_extensions==4.13.2 
typing-validation==1.2.12 
untangle==1.2.1 
uritemplate==4.1.1 
urllib3==1.26.5 
xmlschema==3.3.2 
libsaas==0.4 
pysftp==0.2.9 
excel-formulas-calculator==0.5.0 
